<div class="w-form">
  <form id="email-form" name="email-form" action="#">
    <div class="separator-button-input"></div>
    <div>
      <label class="label-form" for="full-name-field">FULL NAME</label>
      <input class="w-input input-form" id="full-name-field" type="text" name="full-name" data-name="full-name" disabled="disabled" value="Eduard Krigulson">
      <div class="separator-fields"></div>
    </div>
    <div>
      <label class="label-form" for="email-field">EMAIL</label>
      <input class="w-input input-form" id="email-field" type="email" name="email" data-name="email" value="ekrigulson@gmail.com">
      <div class="separator-fields"></div>
    </div>
    <div>
      <label class="label-form" for="password-ield">PASSWORD</label>
      <input class="w-input input-form" id="password-ield" type="password" name="password" data-name="password" required="required">
      <div class="separator-fields"></div>
    </div>
    <div>
      <label class="label-form" for="field">BIRTHDAY</label>
      <input class="w-input input-form" id="birthday-field" type="text" name="birthday" data-name="birthday" disabled="disabled" value="03/07/1993">
      <div class="separator-fields"></div>
    </div>
  </form>
  <div class="w-form-done">
    <p>Thank you! Your submission has been received!</p>
  </div>
  <div class="w-form-fail">
    <p>Oops! Something went wrong while submitting the form</p>
  </div>
</div>
