.navbar{
  margin-bottom: 0;
  .bg-gradient;
  border: none;
}
.page-content{
  color: rgba(255, 255, 255, 0.4);
}
.w-nav-button{
  padding:0;
}
.w--nav-menu-open{
  background-color: rgba(0, 0, 0, 0.5);
}
.button-menu{
  button, a.w-button{
    margin-bottom: 10px;
  }
}
