<header>
  <div class="w-navigation">
    {{w-navigation}}
  </div>
</header>
<h1 class="title-h1 text-center">Welcome to myApp</h1>
<button class="btn btn-warning btn-block" type="button" name="button">Hello</button>
{{outlet}}
