<h2>Hello Eduard!</h2>
<div class="button-menu">
  {{#link-to "loans" class="w-button" type="button"}}Go to some route{{/link-to}}
  {{#link-to "loans.previous" class="w-button" type="button"}}PREVIOUS{{/link-to}}
  {{#link-to "home" class="w-button" type="button"}}HOME{{/link-to}}
  {{#link-to "forgot" class="w-button" type="button"}}FORGOT{{/link-to}}
</div>
